.profile-card{

    .avatar{
      display: block;
      max-width: 150px;
      max-height: 150px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
    }


}

.authors-card-image{

  img{
    display: block;
    height: 30px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
}