body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #ffffff;
  padding-top: 70px;
}

.main-body {
  display: flex;
  flex: 1;

  .main-body-content {
    flex: 1;
  }
}
