
/*html,
body{
.main-text{
    text-transform: uppercase;
    color: #000000;
}    height: 100vh;
    margin: 0;
}

header{
    height: 10vh;
}

.main-content{
    overflow: auto;
    height: 90vh;
}*/







