
// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*.navbar-laravel {
  background-color: #FFFFFF;
}*/

html,
body{
  height : 100vh;
  margin: 0;
}

header{
  height: 10vh;
}

.main-content{
  height: 90vh;
  overflow: auto;
}

.main-text{
  text-transform: uppercase;
  color: #000000;
}

.nav-item-light{
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid #00adb5;
}


